<!DOCTYPE html>

<html>
<head>
    <title>PUTRA JOYO SNACK</title>
</head>
<body>

<center>

    <h2>PUTRA JOYO SNACK</h2>

    <h3>Login</h3>

    <form method="POST">

        <table>

            <tr>
                <td>Username :</td>
                <td>
                    <input type="text" name="username" required>
                </td>
            </tr>

            <tr>
                <td>Password :</td>
                <td>
                    <input type="password" name="password" required>
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <br>
                    <button type="submit">
                        Login
                    </button>
                </td>
            </tr>

        </table>

    </form>

</center>


</body>
</html>
